In [ ]:
import pandas as pd

In [25]:
df = pd.read_csv('sample.tsv', sep='\t', header=1, usecols=['JANUARY', 'FEBRUARY', 'MARCH'])

In [26]:
df

    JANUARY  FEBRUARY      MARCH
0         S         S          S
1       NaN       NaN        NaN
2         2         6          6
3         9        13         13
4        16        20         20
5        23        27         27
6        30       NaN        NaN
7       NaN       NaN        NaN
8    APRIL        MAY       JUNE
9         S         S          S
10      NaN         1        NaN
11        3         8          5
12       10        15         12
13       17        22         19
14       24        29         26
15      NaN       NaN        NaN
16      NaN       NaN        NaN
17     JULY    AUGUST  SEPTEMBER
18        S         S          S
19      NaN       NaN        NaN
20        3         7          4
21       10        14         11
22       17        21         18
23       24        28         25
24       31       NaN        NaN
25      NaN       NaN        NaN
26  OCTOBER  NOVEMBER   DECEMBER
27        S         S          S
28      NaN       NaN        NaN
29        2         6          4
30        9        13         11
31       16        20         18
32       23        27         25
33       30       NaN        NaN

### skip rows

In [27]:
df = pd.read_csv('smartphones.csv')
df

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256.0,Yellow,Yes,231.60
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128.0,Blue,Yes,279.00
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128.0,Blue,Yes,179.01
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128.0,Gray,Yes,279.99
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512.0,White,Yes,799.00
...,...,...,...,...,...,...,...,...
1811,Xiaomi Redmi Note 8 4/64GB Azul Libre,Xiaomi,Redmi Note 8,4.0,64.0,Blue,Yes,249.01
1812,Xiaomi Redmi Note 8T 4/128GB Azul Estelar Libre,Xiaomi,Redmi Note 8T,4.0,128.0,Blue,Yes,200.00
1813,Xiaomi Redmi Note 9 4/128GB Blanco Libre,Xiaomi,Redmi Note 9,4.0,128.0,White,Yes,269.00
1814,Xiaomi Redmi Note 9S 4/64GB Dual SIM Gris Libre,Xiaomi,Note 9S,4.0,64.0,Gray,Yes,211.00
1815,Xiaomi Redmi Note 9S 6/128GB Dual SIM Gris Libre,Xiaomi,Note 9S,6.0,128.0,Gray,Yes,289.00

In [29]:
df = pd.read_csv('smartphones.csv', skiprows=[1815, 1816])
df

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256.0,Yellow,Yes,231.60
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128.0,Blue,Yes,279.00
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128.0,Blue,Yes,179.01
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128.0,Gray,Yes,279.99
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512.0,White,Yes,799.00
...,...,...,...,...,...,...,...,...
1809,Xiaomi Redmi Note 10 Pro 8/128GB Azul Libre + ...,Xiaomi,Redmi Note 10,8.0,128.0,Blue,Yes,349.00
1810,Xiaomi Redmi Note 8 4/128GB Negro Libre,Xiaomi,Redmi Note 8,4.0,128.0,Black,Yes,271.00
1811,Xiaomi Redmi Note 8 4/64GB Azul Libre,Xiaomi,Redmi Note 8,4.0,64.0,Blue,Yes,249.01
1812,Xiaomi Redmi Note 8T 4/128GB Azul Estelar Libre,Xiaomi,Redmi Note 8T,4.0,128.0,Blue,Yes,200.00
1813,Xiaomi Redmi Note 9 4/128GB Blanco Libre,Xiaomi,Redmi Note 9,4.0,128.0,White,Yes,269.00

In [30]:
df = pd.read_csv('smartphones.csv', nrows=100)
df

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256,Yellow,Yes,231.60
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128,Blue,Yes,279.00
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128,Blue,Yes,179.01
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128,Gray,Yes,279.99
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512,White,Yes,799.00
...,...,...,...,...,...,...,...,...
95,Nothing Phone (2) 12/512GB Gris Oscuro Libre,Nothing,Phone (2),12.0,512,Gray,Yes,799.00
96,POCO F5 5G 12/256GB Negro Libre,POCO,F5,12.0,256,Black,Yes,479.99
97,Xiaomi Redmi Note 11 Pro Plus 5G 8/256GB Azul ...,Xiaomi,11 Pro,8.0,256,Blue,Yes,449.99
98,Samsung Galaxy M53 5G 8/128GB Azul Libre,Samsung,Galaxy M53,8.0,128,Blue,Yes,413.00
99,Samsung Galaxy M53 5G 8/128GB Verde Libre,Samsung,Galaxy M53,8.0,128,Green,Yes,418.99

In [39]:
df = pd.read_csv('smartphones.csv')
df['Final Price'] = df['Final Price'].fillna(0).astype(int)

df

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256.0,Yellow,Yes,231
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128.0,Blue,Yes,279
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128.0,Blue,Yes,179
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128.0,Gray,Yes,279
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512.0,White,Yes,799
...,...,...,...,...,...,...,...,...
1811,Xiaomi Redmi Note 8 4/64GB Azul Libre,Xiaomi,Redmi Note 8,4.0,64.0,Blue,Yes,249
1812,Xiaomi Redmi Note 8T 4/128GB Azul Estelar Libre,Xiaomi,Redmi Note 8T,4.0,128.0,Blue,Yes,200
1813,Xiaomi Redmi Note 9 4/128GB Blanco Libre,Xiaomi,Redmi Note 9,4.0,128.0,White,Yes,269
1814,Xiaomi Redmi Note 9S 4/64GB Dual SIM Gris Libre,Xiaomi,Note 9S,4.0,64.0,Gray,Yes,211
1815,Xiaomi Redmi Note 9S 6/128GB Dual SIM Gris Libre,Xiaomi,Note 9S,6.0,128.0,Gray,Yes,289

In [44]:
df =pd.read_csv('smartphones.csv', na_values=['Blue'])
df

,Smartphone,Brand,Model,RAM,Storage,Color,Free,Final Price
0,Realme C55 8/256GB Sunshower Libre,Realme,C55,8.0,256.0,Yellow,Yes,231.60
1,Samsung Galaxy M23 5G 4/128GB Azul Libre,Samsung,Galaxy M23,4.0,128.0,NaN,Yes,279.00
2,Motorola Moto G13 4/128GB Azul Lavanda Libre,Motorola,Moto G13,4.0,128.0,NaN,Yes,179.01
3,Xiaomi Redmi Note 11S 6/128GB Gris Libre,Xiaomi,Redmi Note 11S,6.0,128.0,Gray,Yes,279.99
4,Nothing Phone (2) 12/512GB Blanco Libre,Nothing,Phone (2),12.0,512.0,White,Yes,799.00
...,...,...,...,...,...,...,...,...
1811,Xiaomi Redmi Note 8 4/64GB Azul Libre,Xiaomi,Redmi Note 8,4.0,64.0,NaN,Yes,249.01
1812,Xiaomi Redmi Note 8T 4/128GB Azul Estelar Libre,Xiaomi,Redmi Note 8T,4.0,128.0,NaN,Yes,200.00
1813,Xiaomi Redmi Note 9 4/128GB Blanco Libre,Xiaomi,Redmi Note 9,4.0,128.0,White,Yes,269.00
1814,Xiaomi Redmi Note 9S 4/64GB Dual SIM Gris Libre,Xiaomi,Note 9S,4.0,64.0,Gray,Yes,211.00
1815,Xiaomi Redmi Note 9S 6/128GB Dual SIM Gris Libre,Xiaomi,Note 9S,6.0,128.0,Gray,Yes,289.00

In [46]:
dfs = pd.read_csv('smartphones.csv', chunksize=400)

for chunks in dfs:
     print(chunk.shape)

NameError: name 'chunk' is not defined